Assignment 1/lecture_1_samples+/001_fixed_function_pipeline_triangle_example/_vs2015/.vs/
Assignment 1/lecture_1_samples+/002_programmable_pipeline_triangle_example_direct/_vs2015/.vs/
Assignment 1/lecture_1_samples+/003_programmable_pipeline_triangle_example_direct_moving/_vs2015/.vs/
Assignment 1/lecture_1_samples+/004_programmable_pipeline_triangle_example_buffered/_vs2015/.vs/
Assignment 1/lecture_1_samples+/005_programmable_pipeline_triangle_example_buffered_moving_uniform/_vs2015/.vs/
Assignment 1/lecture_1_samples+/006_programmable_pipeline_triangle_example_external_shaders/_vs2015/.vs/
Assignment 2/lecture_2_samples+/001_static_cube/_vs2015/.vs/
Assignment 2/lecture_2_samples+/002_rotating_cube/_vs2015/.vs/
MGE/mge_v18_student_version/_vs2015/.vs/
